@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../public/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px;
}
.container {
  position: relative;
  width: calc(100% - 100px);
  min-height: calc(100vh - 280px);
  min-height: 300px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
header {
  position: absolute;
  top: -40px;
  right: 20px;
  left: 20px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header ul {
  display: flex;
}
header ul li {
  list-style: none;
  margin: 0 10px;
}
header ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  padding: 8px 15px;
  border-radius: 25px;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
header ul li a:hover,
header ul li a:active {
  background: #565;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.content {
  margin-top: 20px;
  transform: translateX(-100px);
  width: 100%;
  height: 70vh;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px;
  padding-left: 110px;
}

.signIn h2 {
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.signIn form label {
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.signIn form input {
  display: flex;
  margin: 10px 10px;
  height: 30px;
  border-radius: 5px;
  padding: 15px;
  font-size: 1rem;
}
.signIn form button {
  background: #2929cb;
  border: none;
  color: #fff;
  height: 50px;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .container {
    position: relative;
    width: calc(100% -20px);
  }
}
@media (max-width: 992px) {
  section {
    padding: 50px 10px 10px;
  }
  .container {
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 20px;
  }
  .container .content {
    transform: translateX(0px);
    max-width: 100%;
    padding: 30px;
    margin-top: -40px;
  }
  header {
    position: relative;
    flex-direction: column;
    width: 100%;
    top: -60px;
    padding: 20px;
    right: 0;
    left: 0;
  }
  header ul {
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  header ul li {
    margin: 8px;
  }
  header ul li a {
    display: inline-block;
    font-size: 1rem;
  }
  header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.1em;
    text-shadow: 2px 2px 4px #00000070;
  }
  .signIn form input {
    width: 100%;
  }
}
